{% extends 'base.html.twig' %}

{% block title %}Mes adresses  - la boutique en ligne {% endblock %}

{% block content %}
    <a href="{{ path('account_address_add')}}" class="btn btn-info btn-sm float-right" >Ajouter une addresse  </a>
    <h1>Mes adresses </h1>
    C'est dans cette partie que vous allez gérer vos adresses.<br/>
    <a href="{{ path('account') }}">Retour</a>
    <hr>
    {% if app.user.adresses|length ==0 %}
        <p class="text-center">
            Vous n'avez pas ajouté encore d'adresse dans votre comte. Pour en ajouter une, veillez <a href="{{ path('account_address_add')}}">cliquer ici</a>
        </p>

    {% else %}

            <div class="row-adresse">
                  {% for address in app.user.adresses %}
                     <div class="col-md-4">
                     <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ address.name }}</h5>
                            <p class="card-text">
                                {{ address.lastname }}  {{ address.firstname }}<br/>
                                {{ address.adress }}
                                {{ address.city }}
                                {{ address.postal}}- {{ address.country}}
                            </p>
                            <a href="{{ path('account_address_edit', { 'id' : address.id }) }}">Modifier</a> |  <a href="{{ path('account_address_delete', { 'id' : address.id }) }}">Supprimer </a>
                        </div>
                    </div>
                    </div>
                    </div>
        {% endfor %}
     {% endif %}

{% endblock %}
